.authWrapper {
  border: 1px black solid;
  border-radius: 20px;
  min-height: 370px;
  width: 400px;
  overflow: hidden;

  .titleWrapper {
    background-color: dodgerblue;
    color: #fff;
    padding: 20px 40px 20px 40px;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px 40px;
    height: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}
